$phone-screen: 768px;

@media (prefers-color-scheme: dark) {
	.harmonica {
		--harmonica-background: black;
		--harmonica-border: white;
		--harmonica-text: white;
		--harmonica-out: #d30000;
		--harmonica-in: #1818d4;
		--harmonica-out-text: white;
		--harmonica-in-text: white;
		--harmonica-button-background: black;
		--harmonica-button-hover-background: gray;
		--harmonica-button-text: white;
	}
}

.harmonica {
	--harmonica-background: #444;
	--harmonica-border: black;
	--harmonica-text: white;
	--harmonica-out: #d30000;
	--harmonica-in: #1818d4;
	--harmonica-out-text: white;
	--harmonica-in-text: white;
	--harmonica-button-background: black;
	--harmonica-button-hover-background: gray;
	--harmonica-button-text: white;
}

.harmonica {
	position: relative;

	padding: 1rem 0;

	.body {
		display: flex;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: calc(min(1rem, 5vw));

		padding: .5rem;
		border-radius: 10px;

		background: var(--harmonica-background);

		border: 5px solid var(--harmonica-border);

		@media screen and (max-width: $phone-screen) {
			overflow-x: auto;
			overflow-y: hidden;
		}

		.hole {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;

			.note {
				color: var(--harmonica-text);
				vertical-align: middle;
				text-align: center;
				margin: 0;
			}

			.buttonarea {
				display: flex;
				flex-direction: column;

				>button {
					border: none;
					padding: none;
					width: calc(min(3rem, 20vw));
					height: calc(min(2rem, 10vw));
				}

				>button:active+.bendpanel,
				>button:focus+.bendpanel,
				>button:hover+.bendpanel,
				.bendpanel:hover {
					position: absolute;
					display: flex;
					flex-direction: column;

					@media screen and (max-width: $phone-screen) {
						flex-direction: row;

						width: fit-content;
						height: 2rem;

						top: 100%;
						left: 50%;
						transform: translate(-50%, -100%);
					}
				}
			}

			span.buttonarea:nth-of-type(1) {
				>button {
					background: var(--harmonica-out);
					color: var(--harmonica-in-text);
					border-radius: 50% 50% 0 0;
				}

				>.bendpanel {
					border: 1px solid var(--harmonica-out);
					@media screen and (min-width: $phone-screen) {
						bottom: 0;
					}
				}
			}

			span.buttonarea:nth-of-type(2) {
				>button {
					background: var(--harmonica-in);
					color: var(--harmonica-in-text);
					border-radius: 0 0 50% 50%;
				}

				>.bendpanel {
					border: 1px solid var(--harmonica-in);
					@media screen and (min-width: $phone-screen) {
						top: 0;
					}
				}
			}

			.bendpanel {
				display: none;
				position: absolute;
				left: 0;
				right: 0;

				>button {
					color: var(--harmonica-button-text);
					background: var(--harmonica-button-background);
					border: 0;
					transition: 0.2s background;

					&:hover,
					&:active {
						background: var(--harmonica-button-hover-background);
					}
				}
			}
		}
	}

	&::before {
		content: '';
		position: absolute;

		top: 0;
		left: 5%;
		bottom: 0;
		right: 5%;

		z-index: -1;

		background: var(--harmonica-background);
		border: 5px solid var(--harmonica-border);
		border-radius: 10px;
	}
}

/* @media screen and (max-width: 768px) {
	.harmonica {
		.body {
			gap: 0.5rem;

			.hole {
				.buttonarea {
					>button {
						width: 3rem;
						height: 2rem;

						border-radius: 2rem;
					}

					>button:active,
					>button:focus {
						border: 4px double white;
					}

					>button:active+.bendpanel,
					>button:focus+.bendpanel,
					>button:hover+.bendpanel,
					.bendpanel:hover {
						flex-direction: row;
						
						position: absolute;
						top: 100%;
						left: 50%;
						transform: translate(-50%, -100%);

						width: fit-content;

						height: 2rem;
					}
				}
			}
		}

	}
} */