$button-border-radius: 10px;

.musicalElements {
	display: flex;
	flex-direction: row;
	align-items: baseline;
	justify-content: center;

	background: var(--panel-background);
	color: var(--panel-foreground);

	border-radius: 1rem;

	button {
		padding: 0.5rem;

		font-size: 2rem;
		vertical-align: middle;

		border: none;

		background: none;

		&:active,
		&:hover {
			background: var(--panel-selected);
		}
	}
}