$phone-screen: 768px;

.editor {
	--header-background: black;

	--panel-background: black;
	--panel-foreground: white;
	--panel-selected: #333;
}

.editor {
	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	justify-content: space-between;

	header {
		background: var(--header-background);

		display: flex;
		flex-direction: row;

		align-items: center;
		justify-content: flex-start;

		gap: 0.5rem;

		justify-content: flex-end;

		padding: 0.5rem;
	}

	main {
		overflow-x: auto;
		overflow-y: auto;
		scroll-behavior: smooth;
		width: 100%;

		.sheetWrapper {
			margin-left: 2rem;
			margin-right: 2rem;
		}
	}

	footer {
		display: flex;
		flex-direction: column;
		gap: 1vh;

		width: fit-content;
		max-width: 100%;

		margin-left: auto;
		margin-right: auto;

		.harmonicaWrapper {
			max-width: calc(min(100%, 80rem));
			margin-left: auto;
			margin-right: auto;
		}

		.music {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1vw;
			align-items: stretch;
			justify-content: flex-end;
		}
	}
}