@import './DiatonicHarmonica.colors.scss';

$phone-screen: 768px;
$button-border-radius: 100%;
$button-width: calc(min(2.5rem, 20vw));
$button-height: calc(min(1.5rem, 10vw));
$transition-speed: 0.4s;

$harmonica-body-padding: calc(min(.5rem, 2vh));
$harmonica-cover-padding: calc(min(1rem, 3vh));
$harmonica-border-width: calc(min(5px, 0.5vh));

.harmonica {
	@extend .harmonica-colors;

	position: relative;

	padding: $harmonica-cover-padding 0;

	.body {
		display: flex;

		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		gap: calc(min(1rem, 5vw));

		padding: $harmonica-body-padding;
		border-radius: 10px;

		background: var(--harmonica-background);

		border: $harmonica-border-width solid var(--harmonica-border);

		@media screen and (max-width: $phone-screen) {
			overflow-x: auto;
			overflow-y: hidden;
		}

		.hole {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;

			.note {
				color: var(--harmonica-text);
				vertical-align: middle;
				text-align: center;
				margin: 0;

				@media screen and (max-height: 330px) {
					display: none;
				}
			}

			.buttonarea {
				display: flex;
				flex-direction: column;

				>button {
					border: none;
					padding: none;
					width: $button-width;
					height: $button-height;
				}

				>button:active+.bendpanel,
				>button:focus+.bendpanel,
				>button:hover+.bendpanel,
				.bendpanel:hover {
					position: absolute;
					display: flex;
					flex-direction: column;

					@media screen and (max-width: $phone-screen) {
						flex-direction: row;

						width: fit-content;
						height: 2rem;

						top: 100%;
						left: 50%;
						transform: translate(-50%, -100%);
					}
				}

				@media screen and (min-width: $phone-screen) {
					position: relative;
				}
			}

			.bendpanel:empty {
				display: none !important;
			}

			span.buttonarea:nth-of-type(1) {
				>button {
					background: var(--harmonica-out);
					color: var(--harmonica-out-text);
					border: 1px solid var(--harmonica-out-border);
					border-radius: $button-border-radius $button-border-radius 0 0;

					border-bottom: none;

					transition: $transition-speed background;

					&:active,
					&:focus,
					&:hover {
						background: var(--harmonica-out-active);
					}
				}

				>.bendpanel {
					border: 1px solid var(--harmonica-out);

					@media screen and (min-width: $phone-screen) {
						bottom: 0;
					}
				}
			}

			span.buttonarea:nth-of-type(2) {
				>button {
					background: var(--harmonica-in);
					color: var(--harmonica-in-text);
					border: 1px solid var(--harmonica-in-border);
					border-radius: 0 0 $button-border-radius $button-border-radius;

					border-top: none;

					transition: $transition-speed background;

					&:active,
					&:focus,
					&:hover {
						background: var(--harmonica-in-active);
					}
				}

				>.bendpanel {
					border: 1px solid var(--harmonica-in);

					@media screen and (min-width: $phone-screen) {
						top: 0;
					}
				}
			}

			.bendpanel {
				display: none;
				position: absolute;
				left: 0;
				right: 0;

				>button {
					color: var(--harmonica-button-text);
					background: var(--harmonica-button-background);
					border: 0;
					transition: 0.2s background;

					&:hover,
					&:active {
						background: var(--harmonica-button-hover-background);
					}
				}
			}
		}
	}

	&::before {
		content: '';
		position: absolute;

		top: 0;
		left: 5%;
		bottom: 0;
		right: 5%;

		z-index: -1;

		background: var(--harmonica-background);
		border: $harmonica-border-width solid var(--harmonica-border);
		border-radius: 10px;
	}
}