.harmonica-colors {
	--harmonica-background: #101010;
	--harmonica-border: #151515;
	--harmonica-text: white;
	--harmonica-out: black;
	--harmonica-in: black;
	--harmonica-out-border: red;
	--harmonica-in-border: blue;
	--harmonica-out-text: #ff3636;
	--harmonica-in-text: #2f7bfd;
	--harmonica-out-active: #540000;
	--harmonica-in-active: #00225c;
	--harmonica-button-background: black;
	--harmonica-button-hover-background: #3c3c3c;
	--harmonica-button-text: white;
}