@import './Editor.colors.scss';

$phone-screen: 768px;

.editor {
	@extend .index-colors;

	position: absolute;

	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;

	background: var(--background);

	justify-content: space-between;

	header {
		background: var(--header-background);

		display: flex;
		flex-direction: row;

		border-bottom: 1px solid var(--header-bottom-border);

		align-items: center;
		justify-content: flex-start;

		gap: 0.5rem;

		justify-content: flex-end;

		padding: 0.5rem;
	}

	main {
		overflow-x: auto;
		overflow-y: auto;
		scroll-behavior: smooth;
		width: 100%;
	}

	footer {
		display: flex;
		flex-direction: column;
		gap: 1vh;

		width: fit-content;
		max-width: 100%;

		margin-left: auto;
		margin-right: auto;

		.music {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			gap: 1vw;
			align-items: stretch;
			justify-content: flex-end;
		}
	}
}