.fullscreenToggle {
	background: transparent;
	background-image: url("/img/fullscreen.svg");

	height: 2.5rem;
	width: 2.5rem;

	border: none;

	background-repeat: no-repeat;
	background-position: center center;
	background-size: 2rem 2rem;

	transition: 0.25s background-size;

	&:hover,
	&.active {
		background-size: 2.5rem 2.5rem;
	}
}