.index-colors {
	--header-background: black;
	--header-bottom-border: rgb(24, 22, 34);

	--panel-background: black;
	--panel-foreground: white;
	--panel-selected: #333;

	--panel-border: #444;

	--sheet-color: white;
}